@font-face{font-family:"Noto Sans JP";font-style:normal;font-weight:400;font-display:swap;src:url("../public/fonts/NotoSansJP-Regular.ttf") format("truetype");}
@font-face{font-family:"Noto Sans JP";font-style:normal;font-weight:700;font-display:swap;src:url("../public/fonts/NotoSansJP-Bold.ttf") format("truetype");}
